@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: 0;
  --ui-primary: black;
  --ui-bg: var(--color-white);
}

.dark {
  --ui-primary: white;
  --ui-bg: #060606;
}

.main-gradient {
  @apply bg-gradient-to-r from-inverted/45 to-inverted to-50% bg-clip-text text-transparent;
}