name: ci

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - run: npm i -g --force corepack@latest && corepack enable

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - run: npm i -g --force corepack@latest && corepack enable

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Playground prepare
        run: pnpm run dev:prepare

      - name: Test
        run: pnpm run test

  publish:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - run: npm i -g --force corepack@latest && corepack enable

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prepare package
        run: pnpm run dev:prepare

      - name: Build package
        run: pnpm run prepack

      - name: Publish
        run: pnpx pkg-pr-new publish --compact --no-template --pnpm